<!DOCTYPE html>
<html>
    <head>
        <title>Student marks</title>
    </head>

    <body>
        <form method="post" action="/result">
            <h4>Enter Physic Marks : </h4>
            <input type="number" name="phy" >
            <br><br>
            
            <h4>Enter Chemistry Marks : </h4>
            <input type="number" name="chem" >
            <br><br>

            <h4>Enter Math Marks : </h4>
            <input type="number" name="math" >
            <br><br>

            <input type="submit" name="submit" value="submit">
        </form>
    </body>
</html>